@import 'products';
@import 'cart';
@import 'payment.scss';

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.gnb {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px
  }
}